.navbar {
  width: 100%;
  color: white;
  font-size: 14px;

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    width: 100%;
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: fixed;
    top: 0px;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }

  .left {
    display: flex;
    align-items: center;
    svg {
      height: 25px;
      margin-left: 0px 15px;
      cursor: pointer;
    }
    span {
      margin-right: 20px;
      cursor: pointer;
    }
  }
  .right {
    display: flex;
    align-items: center;
    .icon {
      margin: 0px 15px;
      cursor: pointer;
    }
    img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      object-fit: cover;
      margin: 0px 15px;
      cursor: pointer;
    }
    .profile {
      svg {
        cursor: pointer;
        color: white;
      }
      .options {
        display: none;
        background-color: var(--main-color);
        border-radius: 5px;
      }
      span {
        padding: 10px;
      }
      &:hover {
        .options {
          display: flex;
          flex-direction: column;
          position: absolute;
          cursor: pointer;
        }
      }
    }
  }
}
